# Данные (огромные файлы не пушим)
data/raw/
data/processed/
data/uploads/

# Зависимости (если будете использовать виртуальное окружение)
venv/
.venv/
__pycache__/
*.pyc
*.egg-info/

# Файлы IDE
.idea/
.vscode/
*.swp

# Переменные окружения (настоящие ключи)
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
